/* table styling*/
#customers {
    margin-top: 40px;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
}

#customers td {
    color: #000;
    padding-bottom: 20px;
    vertical-align: middle;

}

/* button*/
.action {
    border: 1px solid var(--danger);
    color: var(--danger);
    padding: 7px;
}

.action1 {
    border: 1px solid var(--blue);
    color: var(--blue);
    padding: 7px;
}



.mylbl {
    display: block;
    margin-left: 4vw;
    margin-top: 5px;
    margin-bottom: -2px;
    color: #1b223c
}

.mybutton {
    padding: 3px 15px;
    background-color: var(--blue);
    border-radius: 4px;
    border-color: var(--blue);
    display: block;
    margin-left: 4vw;
    margin-top: 8px;
}
.names{
    font-size:20px;
}
.page-title{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 19px;
}
.report{
    margin-bottom: 10px;
}
