.mainhome {
    background-size: cover;
    width: 100%;
    height: 99vh;
    padding-top:1%;
    border-color: black;
    border-width: 3%;
    text-align: center;
    animation: zoomBackground 8s ease infinite;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

@keyframes zoomBackground {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

.mainhome img{
    height:80%;
}


.nav-drawer {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-drawer ul {
    list-style: none;
    padding: 0;
}

.nav-drawer ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.nav-drawer ul li a {
    color: #fff;
    text-decoration: none;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


#userimg {
width: 40px; 
}


.text-white {
color: #fff;
font-size: 14px; 
}


.input-group {
width: 280px; 
margin-right: 10px; 
}

.input-group-append {
margin-left: -1px;
}

.form-control {
border-radius: 20px; 
}


.lince {
border-radius: 20px;
background-color: transparent;
border-color: #6f4e37; 
}


.btn-primary i {
color: #fff; 
}


#navbar .container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

#navbar .row {
width: 100%;
}

#navbar .col-auto {
padding-right: 0;
}

#navbar .col {
padding-left: 0;
}

#navbar #navToggle {
margin-left: -15px;
}

#navbar #userimg {
width: 60px; 
margin-right: 15px;
}



.navbar-nav .input-group {
margin-top: 10px; 
}

.navbar-nav .input-group input.form-control {
border-radius: 20px; 
}

.navbar-nav .input-group .btn-primary {
border-radius: 20px; 
}




.order-form {
background-color: #f8f9fa;
padding: 30px; 
border-radius: 8px; 
height:95%; 
display: flex; 
flex-direction: column; 
justify-content: space-between; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.order-form h2 {
margin-bottom: 20px; 
}

.order-form .form-group {
margin-bottom: 15px; 
}

.order-form input[type="text"],
.order-form select {
width: 100%; 
}


#prevPage{
width:20%;
}

#nextPage{
width:20%;
}



.col-auto {
display: flex;
align-items: center;
}


.col-auto:not(:last-child) {
margin-right:1%;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height:96%;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.close-icon {
background: transparent;
border: none;
cursor: pointer;
font-size:1.1em;
color: #ff0000;
margin-left: 5px;
}


/*second page*/

.maincard{
    width:27vh;
    
    
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.cardss {
    width:70%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

.related-products {
    margin-top: 50px;
    overflow-x: hidden; 
}

/*related product */
@keyframes slideLeftRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.related-products .card-container {
    display: flex;
    animation: slideLeftRight 10s infinite linear; 
}

/* Stop animation */
.related-products .card-container:hover {
    animation-play-state: paused;
}




#decr{
    width:3%;
   
    border-radius: 35%;
}

.formbtn #decr{
    width:9%;
}





.about {
    width:99vw; 
    height:90vh;
    background-image: url("images/footer.jpg");
    background-size: cover;
    padding:10%; 
    margin: 0; 
    position: absolute;
    right:0.1%;
}



.footer-container {
    padding: 20px;
}

.image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.image-container img:hover {
    transform: scale(1.1); 
    opacity: 0.7; 
}


.list-unstyled li a {
            text-decoration: none; 
           
            transition: color 0.3s; 
            font-size: 18px; 
        }
        .list-unstyled li a:hover {
            color: #007bff; 
        }


       


