.mainhome {
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top:1%;
    border-color: black;
    border-width: 3%;
    text-align: center;
    animation: zoomBackground 8s ease infinite;
}

@media (max-width:600px) {
    .mainhome {
    background-size: cover;
    width: 100%;
    height:52vh;
    padding-top:1%;
    border-color: black;
    border-width: 3%;
    text-align: center;
    animation: zoomBackground 8s ease infinite;
    }
}

@media (max-width:600px) {
    body{
   background-color: #502e10b9;
    }
}


@keyframes zoomBackground {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

.mainhome img{
    height:80%;
}


.login-container {
    background-color: rgba(241, 250, 249, 0.547);
    width:66%;
    height:98%;
    padding-left: 5%;
    padding-right: 5%;
  padding-top: 1%;
    margin: auto;
   
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: rgb(55, 122, 223);
}
.form-control {
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid #5A2A00; 
    border-radius: 0; 
    color: rgb(55, 122, 223); 
    margin-bottom: 1rem; 
}

.form-control:focus {
    box-shadow: none; 
    border-color:rgb(55, 122, 223); 
   
    
}

.form-floating label {
    color: #5A2A00; 
}


.slogan {
    animation: moveUpDown 4s ease infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}


button{
    background: #1D4350;  
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  
    background: linear-gradient(to right, #A43931, #1D4350); 
}

button:hover{
    background: #15343e;  
    background: -webkit-linear-gradient(to right, #8b2d26, #15343e);  
    background: linear-gradient(to right, #862a24, #102b34); 
}

.ForgetPwd{
    color:blue;
}

.ForgetPwd:hover{
    color: rgb(49, 31, 181);
}