.mainhome {
    background-size: cover;
    width: 100%;
    height:100vh;
    padding-top:1%;
    border-color: black;
    border-width: 3%;
    text-align: center;
    animation: zoomBackground 8s ease infinite;
}

@media (max-width:800px) {
    .mainhome {
    background-size: cover;
    width: 100%;
    height:52vh;
    padding-top:1%;
    border-color: black;
    border-width: 3%;
    text-align: center;
    animation: zoomBackground 8s ease infinite;
    }
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

@keyframes zoomBackground {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 100%;
    }
}

.mainhome img{
    height:80%;
}


.nav-drawer {
    position: fixed;
    top: 0;
    left: -300px; 
    width:298px;
    height: 100%;
    background-color:rgb(56, 45, 3);
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-left: 0px;
}

.nav-drawer ul {
    list-style: none;
   
    padding: 0;
}

.nav-drawer ul li {
    padding:20px;
    padding-left: 0px;
    border-bottom: 1px solid #fff;
}

.nav-drawer ul li a {
    color: #fff;
    text-decoration: none;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


#userimg {
width: 40px; 
}


.text-white {
color: #fff;
font-size: 14px; 
}


.input-group {
width: 280px; 
margin-right: 10px; 
}

.input-group-append {
margin-left: -1px;
}

.form-control {
border-radius: 20px; 
}


.lince {
border-radius: 20px;
background-color: transparent;
border-color: #6f4e37; 
}


.btn-primary i {
color: #fff; 
}


#navbar .container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

#navbar .row {
width: 100%;
}

#navbar .col-auto {
padding-right: 0;
}

#navbar .col {
padding-left: 0;
}

#navbar #navToggle {
margin-left: -15px;
}

#navbar #userimg {
width: 60px; 
margin-right: 15px;
}



.navbar-nav .input-group {
margin-top: 10px; 
}

.navbar-nav .input-group input.form-control {
border-radius: 20px; 
}

.navbar-nav .input-group .btn-primary {
border-radius: 20px; 
}




.order-form {
background-color: #f8f9fa;
padding: 30px; 
border-radius: 8px; 
height:95%; 
display: flex; 
flex-direction: column; 
justify-content: space-between; 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.order-form h2 {
margin-bottom: 20px; 
}

.order-form .form-group {
margin-bottom: 15px; 
}

.order-form input[type="text"],
.order-form select {
width: 100%; 
}


#prevPage{
width:20%;
background: #1d4350; 
  background: -webkit-linear-gradient(to right, #1d4350, #a43931); 
  background: linear-gradient(to right, #1d4350, #a43931);
}
#prevPage:hover{
    width:20%;
    background: #15313b; 
      background: -webkit-linear-gradient(to right, #173a45, #812923); 
      background: linear-gradient(to right, #15333d, #802922);
    }



#nextPage{
width:20%;
background: #1D4350; 
background: -webkit-linear-gradient(to right, #A43931, #1D4350);  
background: linear-gradient(to right, #A43931, #1D4350); 

}

#nextPage:hover{
    width:20%;
    background: #15313b; 
      background: -webkit-linear-gradient(to right, #173a45, #812923); 
      background: linear-gradient(to right, #15333d, #802922);
    
    }



.col-auto {
display: flex;
align-items: center;
}


.col-auto:not(:last-child) {
margin-right:1%;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height:96%;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.close-icon {
background: transparent;
border: none;
cursor: pointer;
font-size:1.1em;
color: #ff0000;
margin-left: 5px;
}


/*second page*/

.maincard{
    width:27vh;
    
    
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.cardss {
    width:70%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}

.related-products {
    margin-top: 50px;
    overflow-x: hidden; 
}

/*related product */
@keyframes slideLeftRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.related-products .card-container {
    display: flex;
    animation: slideLeftRight 10s infinite linear; 
}

/* Stop animation */
.related-products .card-container:hover {
    animation-play-state: paused;
}




#decr{
    width:3%;
   
    border-radius: 35%;

    background: #e53935;  
    background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  
    background: linear-gradient(to right, #e35d5b, #e53935); 
    
}

#decr:hover{
    width:3%;
   
    border-radius: 35%;

    background: #af3634;  
    background: -webkit-linear-gradient(to right, #a83230, #b83230);  
    background: linear-gradient(to right, #c54240, #b94947); 
    
}

#incr{

    background: #5389bf; 
background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  
background: linear-gradient(to right, #3498db, #2c3e50); 

}

#incr:hover{

    background: #223446; 
background: -webkit-linear-gradient(to right, #2278b1, #2c3e50);  
background: linear-gradient(to right, #124a6f, #334a5f); 

}

#price{
    color: #e0af69;  
    font-size: large;

}




.about {
    width:99vw; 
    height:90vh;
    background-image: url("../images/footer.jpg");
    background-size: cover;
    padding:10%; 
    margin: 0; 
    position: absolute;
    right:0.1%;
}



.footer-container {
    padding: 20px;
}

.image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.image-container img:hover {
    transform: scale(1.1); 
    opacity: 0.7; 
}


.list-unstyled li a {
            text-decoration: none; 
           
            transition: color 0.3s; 
            font-size: 18px; 
        }
        .list-unstyled li a:hover {
            color: #007bff; 
        }


       
#orderButton{
    background: #1A2980;  
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); 
    background: linear-gradient(to right, #26D0CE, #1A2980); 
    
}

#orderButton:hover{
    background: #15205d;  
    background: -webkit-linear-gradient(to right, #158b89, #4d59a0); 
    background: linear-gradient(to right, #119593, #444c7b); 
    
}

  
#removeAllProducts{
    background: #EB3349; 
background: -webkit-linear-gradient(to right, #F45C43, #EB3349); 
background: linear-gradient(to right, #F45C43, #EB3349); 

}

#removeAllProducts:hover{
    background: #ad1628; 
background: -webkit-linear-gradient(to right, #b23a27, #9f2230); 
background: linear-gradient(to right, #ad3523, #b42031); 

}

.nav-link:hover {
    color: #a97715 !important; 
}

#search{
     background: #1A2980;  
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); 
    background: linear-gradient(to right, #26D0CE, #1A2980); 
}

#search:hover{

    background: #15205d;  
    background: -webkit-linear-gradient(to right, #158b89, #4d59a0); 
    background: linear-gradient(to right, #119593, #444c7b); 
    
}


        